<section class="container exercises-section">
  <div class="exercises-wrapper">
    <h2 class="exercises-title">Exercises</h2>
    <div class="button-exercises">
      <button class="exercises-category active">Muscles</button>
      <button class="exercises-category">Body parts</button>
      <button class="exercises-category">Equipment</button>
    </div>
    <div class="wrapper-exercises">
      <div class="muscles-list">
        <div class="muscle-item"><div class="muscle-item-wrapper">
          <span class="muscle-category">Abductors</span>
           <span class="muscle-item-category">Muscles</span> </div></div>
       <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
            <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
            <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
             <span class="muscle-item-category">Muscles</span></div>
        </div>
         <div class="muscle-item">
          <div class="muscle-item-wrapper">
            <span class="muscle-category">Abductors</span>
            <span class="muscle-item-category">Muscles</span></div>
        </div>
        
      </div>
      </div>
      
      <div class="pagination-wrapper">
        <span class="pagination-number active">1</span>
        <span class="pagination-number">2</span>
      </div>
    </div>
  </div>
</section>
