<section class="fav-ex-section container">
    <div class="fav-box">
        <h2 class="fav-ex-tittle">Favorites</h2>
        <!-- <div class="no-fav-ex-inner">
            <div class="dumbbell-img"></div>
            <p class="no-fav-text">It appears that you haven't added any exercises to your favorites yet. To get
                started, you can add exercises that you
                like to your favorites for easier access in the future.</p>
        </div> -->
        <div class="fav-ex-inner">
            <ul class="fav-ex-list">
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">Air bike</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">312 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Abs</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">3/4 sit-up</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">220 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Abs</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">45° side ben</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">323 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Abs</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">Barbell reverse pr...</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">153 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Biceps</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">Barbell rollerout</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">87 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Abs</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">Barbell side split s...</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">60 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Quads</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">Air bike</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">312 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Abs</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">3/4 sit-up</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">220 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Abs</span>
                        </li>
                    </ul>
                </li>
                <li class="fav-ex-item fav-ex-item-desk">
                    <div class="fav-ex-item-header">
                        <div class="fav-workout-box">
                            <p class="fav-workout-text">workout</p>
                        </div>
                        <button class="fav-delete-btn" type="submit">
                            <svg class="fav-delete-icon" width="16" height="16">
                                <use href="../img/sprite.svg#trash"></use>
                            </svg>
                        </button>
                        <button class="fav-start-ex-btn" type="submit">Start
                            <svg class="fav-start-arrow-icon" width="14" height="14">
                                <use href="../img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="fav-ex-name-box">
                        <div class="fav-run-icon-box">
                            <svg class="fav-run-icon" width="16" height="16">
                                <use href="../img/sprite.svg#runner"></use>
                            </svg>
                        </div>
                        <p class="fav-ex-name">45° side ben</p>
                    </div>
                    <ul class="fav-ex-desc-list">
                        <li class="fav-ex-desc-item">Burned calories:
                            <span class="fav-ex-desc-value">323 / 3 min</span>
                        </li>
                        <li class="fav-ex-desc-item">Body part:
                            <span class="fav-ex-desc-value">Waist</span>
                        </li>
                        <li class="fav-ex-desc-item">Target:
                            <span class="fav-ex-desc-value">Abs</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="fav-pag-btn-set">
            <button class="fav-pagination-btn fav-pagination-btn-focus" type="submit">1</button>
            <button class="fav-pagination-btn" type="submit">2</button>
            <button class="fav-pagination-btn" type="submit">3</button>
        </div>
    </div>
</section>