<section class="container exercises-section">
  <div class="exercises-wrapper">
    <h2 class="exercises-title">Exercises</h2>
    <div class="button-exercises">
      <button class="exercises-category active" id="muscle-btn">Muscles</button>
      <button class="exercises-category" id="body-btn">Body parts</button>
      <button class="exercises-category" id="equipment-btn">Equipment</button>
      <div class="search-container">
        <form>
          <input type="text" placeholder="Search" name="search" class="search-input"/>
          <button type="submit" class="search-button">
            <svg width="18" height="18" class="search-icon">
              <use href="./img/sprite.svg#search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="wrapper-exercises"></div>

    <div class="pagination-wrapper"></div>
  </div>
</section>
