<section class="container exercises-section">
  <div class="exercises-wrapper">
    <h2 class="exercises-title">Exercises</h2>
    <div class="button-exercises">
      <button class="exercises-category active" id="muscle-btn">Muscles</button>
      <button class="exercises-category" id="body-btn">Body parts</button>
      <button class="exercises-category" id="equipment-btn">Equipment</button>
    </div>
    <div class="wrapper-exercises">
     
      </div>
      
      <div class="pagination-wrapper">
  
      </div>
    </div>
  </div>
</section>
