<header class="container head-position">
  <div class="head-style">
    <a class="head-logo" href="index.html">energy.flow</a>
    <nav class="head-nav">
      <a href="index.html"><div class="head-nav-home">Home</div></a>
      <a href="favorites.html"><div class="head-nav-fav">Favorites</div></a>
    </nav>
    <ul class="head-social">
      <li class="head-social-container">
        <a
          class="head-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="head-social-svg" width="28" height="28">
            <use href="./img/sprite.svg#facebook"></use></svg
        ></a>
      </li>
      <li class="head-social-container">
        <a
          class="head-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="head-social-svg" width="28" height="28">
            <use href="./img/sprite.svg#instagram"></use></svg
        ></a>
      </li>
      <li class="head-social-container">
        <a
          class="head-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="head-social-svg" width="28" height="28">
            <use href="./img/sprite.svg#youtube"></use></svg
        ></a>
      </li>
    </ul>
    <button type="button" class="head-button">
      <svg class="head-button-svg" width="32" height="32">
        <use href="./img/sprite.svg#sandwich"></use>
      </svg>
    </button>
  </div>
</header>
<div class="backdrop-menu-container is-hidden">
  <div class="backdrop-menu">
    <div class="head-style backdrop-style">
      <a class="head-logo backdrop-logo" href="index.html">energy.flow</a>
      <button type="button" class="backdrop-button">
        <svg class="backdrop-button-svg" width="12" height="12">
          <use href="./img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="background-nav">
      <a href="index.html"><div class="head-nav-home">Home</div></a>
      <a href="favorites.html"><div class="head-nav-fav">Favorites</div></a>
    </div>
    <ul class="backdrop-social">
      <li class="backdrop-social-container">
        <a
          class="head-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="backdrop-social-svg" width="28" height="28">
            <use href="./img/sprite.svg#facebook"></use></svg
        ></a>
      </li>
      <li class="backdrop-social-container">
        <a
          class="head-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="backdrop-social-svg" width="28" height="28">
            <use href="./img/sprite.svg#instagram"></use></svg
        ></a>
      </li>
      <li class="backdrop-social-container">
        <a
          class="head-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="backdrop-social-svg" width="28" height="28">
            <use href="./img/sprite.svg#youtube"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
