<section class="section_modal">
  <div class="modal"></div>
  <img
    src="https://ftp.goit.study/img/power-pulse/gifs/0003.gif"
    alt="air bike"
    class="gif"
  />
  <div class="info">
    <h2 class="title">Air bike</h2>
    <div class="raiting">
      <p>4.33</p>
      <div class="stars">
        <svg class="icon">
          <use href="../img/sprite.svg#star"></use>
        </svg>
        <svg class="icon">
          <use href="../img/sprite.svg#star"></use>
        </svg>
        <svg class="icon">
          <use href="../img/sprite.svg#star"></use>
        </svg>
        <svg class="icon">
          <use href="../img/sprite.svg#star"></use>
        </svg>
        <svg class="icon">
          <use href="../img/sprite.svg#star"></use>
        </svg>
      </div>
    </div>
    <ul class="info_list">
      <li class="info_el">
        <p class="info_el_title">Target</p>
        <p class="info_el_text">Abs</p>
      </li>
      <li class="info_el">
        <p class="info_el_title">Body Part</p>
        <p class="info_el_text">Waist</p>
      </li>
      <li class="info_el">
        <p class="info_el_title">Equipment</p>
        <p class="info_el_text">Body weight</p>
      </li>
      <li class="info_el">
        <p class="info_el_title">Popular</p>
        <p class="info_el_text">4</p>
      </li>
      <li class="info_el">
        <p class="info_el_title">Burned calories</p>
        <p class="info_el_text">312/3min</p>
      </li>
    </ul>
    <p class="description">
      This refers to your core muscles, which include the rectus abdominis,
      obliques, and transverse abdominis. They're essential for maintaining
      posture, stability, and generating force in many movements. Exercises that
      target the abs include crunches, leg raises, and planks.
    </p>
    <button type="button" class="addToFavorites">Add to favorites</button>
    <button type="button" class="deletedForFavorites">
      Remove from favorites
    </button>
    <button type="button" class="exitModal">Х</button>
  </div>
</section>
<div class="overlay"></div>
