<!-- Motivation section -->
<section class="motivation" id="motivation">
    <div class="container motivation-container">
        <div class="motivation-image-block">
            <picture class="hero-image-pic">
                <source media="(min-width: 1440px)"
                    srcset="../img/desktop/block3_desk.jpg 1x, ../img/desktop/block3_desk@2x.jpg 2x" />
                <source media="(min-width: 768px)"
                    srcset="../img/tablet/block3_tab.jpg 1x, ../img/tablet/block3_tab@2x.jpg 2x" />
                <source media="(max-width: 767.8px)"
                    srcset="../img/mobile/block3_mob.jpg 1x, ../img/mobile/block3_mob@2x.jpg 2x" />

                <img class="motivation-img" src="../img/mobile/block3_mob.jpg" alt="Fit girl en face" />
            </picture>
        </div>

        <div class="motivation-text-block">
            <div class="motivation-icon-block">
                <svg class="motivation-svg">
                    <use href="../img/sprite.svg#barbell"></use>
                </svg>
            </div>

            <ul class="motivation-text-list">
                <li class="motivation-headline">
                    <p>110 min</p>
                </li>
                <li class="motivation-paragraph-item first-p">
                    <p class="motivation-paragraph">Daily norm of sports</p>
                </li>
                <li class="motivation-paragraph-item second-p">
                    <p class="motivation-paragraph">The World Health Organization recommends at least 150
                        minutes of
                        moderate-intensity aerobic physical activity throughout the week for adults aged 18-64.
                        However,
                        what happens if we adjust that number to 110 minutes every day?
                    </p>
                </li>
            </ul>

        </div>
    </div>
</section>