<!-- Motivation section -->
<section class="motivation" id="motivation">
    <div class="container motivation-container">
        <div class="motivation-content">
            <div class="motivation-pic">
                <img class="motivation-img" src="../img/mobile/block3_mob.jpg"
                    srcset="../img/mobile/block3_mob.jpg 1x, ../img/mobile/block3_mob@2x.jpg 2x"
                    alt="Fit girl en face" />
            </div>

            <div class="motivation-text-block">

                <div class="motivation-icon">
                    <svg class="star-reviews" width="16" height="16">
                        <use href="./img/icons.svg#icon-vector-star"></use>
                    </svg>
                </div>

                <ul class="motivation-text">

                    <li class="motivation-headline">
                        <p>110</p>
                    </li>

                    <li class="motivation-paragraph-item first-p">
                        <p class="motivation-paragraph">Daily norm of sports</p>
                    </li>

                    <li class="motivation-paragraph-item second-p">
                        <p class="motivation-paragraph">The World Health Organization recommends at least 150 minutes of
                            moderate-intensity aerobic physical activity throughout the week for adults aged 18-64.
                            However,
                            what happens if we adjust that number to 110 minutes every day?
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>