<!-- Motivation section -->
<section class="motivation" id="motivation">
    <div class="container motivation-container">
        <div class="motivation-image-block"></div>

        <div class="motivation-text-block">
            <div class="motivation-icon-block">
                <svg class="motivation-svg">
                    <use href="/img/sprite.svg#barbell"></use>
                </svg>
            </div>

            <ul class="motivation-text-list">
                <li class="motivation-headline">
                    <p>110 min</p>
                </li>
                <li class="motivation-paragraph-item first-p">
                    <p class="motivation-paragraph">Daily norm of sports</p>
                </li>
                <li class="motivation-paragraph-item second-p">
                    <p class="motivation-paragraph">The World Health Organization recommends at least 150
                        minutes of
                        moderate-intensity aerobic physical activity throughout the week for adults aged 18-64.
                        However,
                        what happens if we adjust that number to 110 minutes every day?
                    </p>
                </li>
            </ul>

        </div>
    </div>
</section>