<section class="section-quote-fav">
  <div class="wrapper-quote-fav">
    <div class="block-with-quote-fav">
      <div class="icon-quote-fav-runner">
        <svg height="32" width="32">
          <use href="../img/sprite.svg#runner"></use>
        </svg>
      </div>
      <div class="icon-quote-fav-quotes">
        <svg height="28" width="28">
          <use href="../img/sprite.svg#quotes"></use>
        </svg>
      </div>
      <div>
        <h3 class="quote-fav-title">Quote of the day</h3>
        <p class="quote-fav-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="quote-fav-author">Tom Brady</p>
      </div>
    </div>

    <div class="quote-fav-model"></div>

    <div class="quote-fav-recommendation">
      <div class="icon-quote-fav-barbell">
        <svg height="20" width="20">
          <use href="../img/sprite.svg#barbell"></use>
        </svg>
      </div>
      <p class="recommendations-time">110 min</p>
      <p class="recommendations-text">Daily norm of sports</p>
    </div>
  </div>
</section>
