<section class="section-quote-fav">
  <div class="wrapper-quote-fav">
    <div class="block-with-quote-fav">
      <div class="icon-quote-fav-runner">
        <svg>
          <use href="../img/sprite.svg#runner"></use>
        </svg>
      </div>
      <div class="icon-quote-fav-quotes">
        <svg>
          <use href="../img/sprite.svg#quotes"></use>
        </svg>
      </div>
      <h3 class="quote-fav-title">Quote of the day</h3>
      <p class="quote-fav-text"></p>
      <p class="quote-fav-author"></p>
    </div>

    <div class="quote-fav-model"></div>

    <div class="quote-fav-recommendation">
      <div class="icon-quote-fav-barbell">
        <svg><use href="../img/sprite.svg#barbell"></use></svg>
      </div>
      <p class="recommendations-time">110 min</p>
      <p class="recommendations-text">Daily norm of sports</p>
    </div>
  </div>
</section>
