<section class="quote-main-section">
    
    <div class="quote-the-day-main">
        <div class="quote-with-text">
          <div class="quote-runner">
            <svg height="18" width="20">
              <use href="./img/sprite.svg#runner"></use>
            </svg>
          </div>
          <div class="quote-quotes-main">
            <svg height="28" width="28">
              <use href="./img/sprite.svg#quotes"></use>
            </svg>
          </div>
          <div>
            <h3 class="quote-title-main">Quote of the day</h3>
            <p id="quote-text" class="quote-paragraph-main"></p>
            <p id="quote-author" class="quote-author-main"></p>
          </div>
        </div>
    
        <div class="quote-photo-main"></div>
    
        
    </div>
</section>


