<section>
    <div class="backdrop">
        <div class="modal-rating">
            
            <button class="rating-close" type="button">
                <svg class="rating-svg-close" width="10" height="10">
                    <use href="./img/sprite.svg#close"></use>
                </svg>
            </button>

            <p class="rating-title">Rating</p>

            
            <div class="rating-rating">
                <p class="rating-number">0.0</p>
                <form class="rating-star-form">
                    <input type="radio" id="star5" name="rating" value="5">
                    <label for="star5">
                        <svg class="rating-star color-star" width="24" height="24">
                            <use href="./img/sprite.svg#star"></use>
                        </svg>
                    </label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label for="star4">
                        <svg class="rating-star color-star" width="24" height="24">
                            <use href="./img/sprite.svg#star"></use>
                        </svg>
                    </label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3">
                        <svg class="rating-star color-star" width="24" height="24">
                            <use href="./img/sprite.svg#star"></use>
                        </svg>
                    </label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label for="star2">
                        <svg class="rating-star color-star" width="24" height="24">
                            <use href="./img/sprite.svg#star"></use>
                        </svg>
                    </label>
                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1">
                        <svg class="rating-star color-star" width="24" height="24">
                            <use href="./img/sprite.svg#star"></use>
                        </svg>
                    </label>
                </form>
            </div>
            
            
              
            
            <form class="rating-form">
                <input required class="rating-input-email" type="email" name="email" placeholder="Email" autofocus/>
                
                <textarea required class="rating-input-textaera" name="user-comment" placeholder="Your comment"></textarea>
                
                <button class="rating-sbm-btn" type="submit">Sent</button>
            </form>
        </div>
     </div>
</section>



