/* MOBILE EXRECISES */
@media screen and (max-width: 767.9px) {
  .container {
    min-width: 335px;
    max-width: 100%;
  }

  .exercises-section {
    margin-bottom: 16px;
  }

  .exercises-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: var(--light-grey);
    border-radius: 30px;
  }

  .exercises-title {
    color: var(--black);
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .button-exercises {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    margin-bottom: 20px;
    position: relative;
    flex-wrap: wrap;
  }

  .exercises-category {
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
    padding: 7px 14px 7px 14px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
  }

  .exercises-category.active {
    background-color: var(--grey);
    color: var(--white);
  }

  .muscles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  .muscle-item {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    background-image: linear-gradient(
        rgba(16, 16, 16, 0.7),
        rgba(16, 16, 16, 0.7)
      ),
      url('../img/7de47efb64b4441322cd1f008dd1f1b6.jpg');
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }

  .muscle-item::before {
    padding-top: 80%;
    display: block;
    content: '';
    z-index: 2;
  }

  .muscle-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2px;
  }

  .muscle-category {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--white);
    word-wrap: break-word;
    text-align: center;
  }

  .muscle-item-category {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgba(246, 246, 246, 0.4);
  }

  .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .pagination-number {
    color: rgba(27, 27, 27, 0.4);
  }

  .pagination-number.active {
    color: var(--black);
    border: 1px solid rgb(27, 27, 27);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
  }

  
  .exercises-title-grey {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: rgba(27, 27, 27, 0.5);
  }

  .filtered-ex-item {
    display: flex;
    flex-direction: column;
    width: 295px;
    min-height: 141px;
    padding: 16px;
    margin: 0;
    background-color: #fff;
    border: 1px solid rgba(246, 246, 246, 0.2);
    border-radius: 15px;
    border-color: transparent;
  }

  .filtered-ex-item-desk {
    display: none;
  }

  .filtered-ex-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .filtered-workout-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px 8px;
    width: 76px;
    height: 26px;
    background: #7e847f;
    outline: none;
    border: transparent;
  }

  .filtered-workout-text {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #f6f6f6;
  }

  .filtered-rating-container {
    fill: var(--orange);
    margin: 0;
    margin-left: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .filtered-rating-icon-container {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtered-rating-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .filtered-start-ex-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #1b1b1b;
    padding: 0;
  }

  .filtered-start-arrow-icon {
    margin: 0;
    padding: 0;
    margin-left: 3px;
    stroke: #1b1b1b;
  }

  .filtered-ex-name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 16px;
  }

  .filtered-run-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    border-color: transparent;
    background: #7e847f;
    width: 24px;
    height: 24px;
  }

  .filtered-run-icon {
    fill: #fff;
    margin: 0;
  }

  .filtered-ex-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    color: #1b1b1b;
    margin: 0;

    text-wrap: nowrap;
    white-space: nowrap; /* Скасуємо перенесення тексту */
    overflow: hidden; /* Обрізаємо вміст */
    text-overflow: ellipsis;
    width: calc(100% - 40px);
  }

  .filtered-ex-desc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: flex-end;
  }

  .filtered-ex-desc-item {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(27, 27, 27, 0.4);
  }

  .filtered-ex-desc-value {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #1b1b1b;
    margin-right: 10px;
  }

  .search-container {
    position: relative;
    right: 0;
  }

  .search-button {
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
  }

  .search-icon {
    fill: transparent;
    stroke: var(--black);
    translate: 0 2px;
  }

  .search-input {
    width: 295px;
    height: 42px;
    padding: 12px 48px 12px 14px;
    border: none;
    border-radius: 30px;
  }
}

/* TABLET EXRECISES*/

@media screen and (min-width: 768px) {
  .exercises-wrapper {
    background-color: var(--light-grey);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 64px 48px;
    margin-bottom: 16px;
  }

  .exercises-title {
    color: var(--black);
    font-size: 44px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .button-exercises {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    position: relative;
  }

  .exercises-category {
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .exercises-category.active {
    background-color: var(--grey);
    color: var(--white);
  }

  .muscles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 14px;
    column-gap: 14px;
  }

  .muscle-item {
    /* width: 100%; */
    width: calc(50% - 8px);
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    background-image: linear-gradient(
        rgba(16, 16, 16, 0.7),
        rgba(16, 16, 16, 0.7)
      ),
      url('../img/7de47efb64b4441322cd1f008dd1f1b6.jpg');
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }

  .muscle-item::before {
    padding-top: 80%;
    display: block;
    content: '';
    z-index: 2;
  }

  .muscle-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2px;
  }

  .muscle-category {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--white);
    word-wrap: break-word;
    text-align: center;
  }

  .muscle-item-category {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgba(246, 246, 246, 0.4);
  }

  .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .pagination-number {
    color: rgba(27, 27, 27, 0.4);
  }

  .pagination-number.active {
    color: var(--black);
    border: 1px solid rgb(27, 27, 27);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
  }

  
  .exercises-title-grey {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(27, 27, 27, 0.5);
  }

  .filtered-ex-item {
    display: flex;
    flex-direction: column;
    width: 313px;
    min-height: 141px;
    padding: 16px;
    margin: 0;
    background-color: #fff;
    border: 1px solid rgba(246, 246, 246, 0.2);
    border-radius: 15px;
    border-color: transparent;
  }

  .filtered-ex-item-desk {
    display: none;
  }

  .filtered-ex-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .filtered-workout-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px 8px;
    width: 76px;
    height: 26px;
    background: #7e847f;
    outline: none;
    border: transparent;
  }

  .filtered-workout-text {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #f6f6f6;
  }

  .filtered-rating-container {
    fill: var(--orange);
    margin: 0;
    margin-left: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .filtered-rating-icon-container {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtered-rating-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .filtered-start-ex-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #1b1b1b;
    padding: 0;
  }

  .filtered-start-arrow-icon {
    margin: 0;
    padding: 0;
    margin-left: 3px;
    stroke: #1b1b1b;
  }

  .filtered-ex-name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 16px;
  }

  .filtered-run-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    border-color: transparent;
    background: #7e847f;
    width: 24px;
    height: 24px;
  }

  .filtered-run-icon {
    fill: #fff;
    margin: 0;
  }

  .filtered-ex-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    color: #1b1b1b;
    margin: 0;

    text-wrap: nowrap;
    white-space: nowrap; /* Скасуємо перенесення тексту */
    overflow: hidden; /* Обрізаємо вміст */
    text-overflow: ellipsis;
    width: calc(100% - 40px);
  }

  .filtered-ex-desc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: flex-end;
  }

  .filtered-ex-desc-item {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(27, 27, 27, 0.4);
  }

  .filtered-ex-desc-value {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #1b1b1b;
    margin-right: 10px;
  }

  .search-container {
    position: absolute;
    right: 0;
  }

  .search-button {
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
  }

  .search-icon {
    fill: transparent;
    stroke: var(--black);
    translate: 0 2px;
  }

  .search-input {
    width: 246px;
    height: 48px;
    padding: 12px 48px 12px 14px;
    border: none;
    border-radius: 30px;
  }
}

/* DESKTOP EXRECISES*/

@media screen and (min-width: 1440px) {
  .exercises-wrapper {
    background-color: var(--light-grey);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 64px 48px;
  }

  .exercises-title {
    color: var(--black);
    font-size: 44px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .button-exercises {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    position: relative;
  }

  .exercises-category {
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .exercises-category.active {
    background-color: var(--grey);
    color: var(--white);
  }

  .muscles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    row-gap: 40px;
  }

  .muscle-item {
    /* width: 100%; */
    width: calc(25% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }

  .muscle-item::before {
    padding-top: 80%;
    display: block;
    content: '';
    z-index: 2;
  }

  .muscle-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2px;
  }

  .muscle-category {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--white);
    word-wrap: break-word;
    text-align: center;
  }

  .muscle-item-category {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgba(246, 246, 246, 0.4);
  }

  .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .pagination-number {
    color: rgba(27, 27, 27, 0.4);
  }

  .pagination-number.active {
    color: var(--black);
    border: 1px solid rgb(27, 27, 27);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
  }

  .exercises-title-grey {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(27, 27, 27, 0.5);
  }

  .filtered-ex-item {
    display: flex;
    flex-direction: column;
    width: 424px;
    min-height: 141px;
    padding: 16px;
    margin: 0;
    background-color: #fff;
    border: 1px solid rgba(246, 246, 246, 0.2);
    border-radius: 15px;
    border-color: transparent;
  }

  .filtered-ex-item-desk {
    display: none;
  }

  .filtered-ex-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .filtered-workout-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px 8px;
    width: 76px;
    height: 26px;
    background: #7e847f;
    outline: none;
    border: transparent;
  }

  .filtered-workout-text {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #f6f6f6;
  }

  .filtered-rating-container {
    fill: var(--orange);
    margin: 0;
    margin-left: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .filtered-rating-icon-container {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtered-rating-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .filtered-start-ex-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 212px;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #1b1b1b;
    padding: 0;
  }

  .filtered-start-arrow-icon {
    margin: 0;
    padding: 0;
    margin-left: 3px;
    stroke: #1b1b1b;
  }

  .filtered-ex-name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 16px;
  }

  .filtered-run-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    border-color: transparent;
    background: #7e847f;
    width: 24px;
    height: 24px;
  }

  .filtered-run-icon {
    fill: #fff;
    margin: 0;
  }

  .filtered-ex-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    color: #1b1b1b;
    margin: 0;

    text-wrap: nowrap;
    white-space: nowrap; /* Скасуємо перенесення тексту */
    overflow: hidden; /* Обрізаємо вміст */
    text-overflow: ellipsis;
    width: calc(100% - 40px);
  }

  .filtered-ex-desc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: flex-end;
  }

  .filtered-ex-desc-item {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(27, 27, 27, 0.4);
  }

  .filtered-ex-desc-value {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #1b1b1b;
    margin-right: 10px;
  }

  .search-container {
    position: absolute;
    right: 0;
  }

  .search-button {
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
  }

  .search-icon {
    fill: transparent;
    stroke: var(--black);
    translate: 0 2px;
  }

  .search-input {
    width: 273px;
    height: 48px;
    padding: 12px 48px 12px 14px;
    border: none;
    border-radius: 30px;
  }
}

.desk-flex {
  row-gap: 28px;
}

.tab-flex {
  row-gap: 20px;
}

.scroll-x {
  overflow-x: scroll;
  justify-content: flex-start;
}