.footer {
  background-image: linear-gradient(
      to bottom,
      rgba(27, 27, 27, 0.7),
      rgba(27, 27, 27, 0.7)
    ),
    url(../img/mobile/footer_mob.jpg);
  border-radius: 30px;
  /* transform: rotate(-180deg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 20px 20px 20px;
}
@media only screen and (min-resolution: 192dpi) {
  .footer {
    background-image: linear-gradient(
        to bottom,
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/mobile/footer_mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) and(min-resolution:192dpi) {
  .footer {
    background-image: linear-gradient(
        to bottom,
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/mobile/footer_tab@2x.jpg);
  }
}
@media only screen and (min-width: 1440px) and(min-resolution:192dpi) {
  .footer {
    background-image: linear-gradient(
        to bottom,
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/mobile/footer_deck@2x.jpg);
  }
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
}
.footer-info {
  width: 86px;
  height: 18px;
  margin-bottom: 9px;
}
.footer-logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #f6f6f6;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer-social-list {
  width: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}
.footer-social-link {
  width: 36px;
  height: 36px;
}
.footer-social-image {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(246, 246, 246, 0.2);
  /* background-color: F6F6F6; */
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-image:hover,
.footer-social-image:focus {
  background-color: 5F6560;
}
.footer-social-icon {
  fill: #f6f6f6;
  opacity: 0.8;
}
.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f6f6f6;
}
.footer-text-accent {
  font-style: italic;
  color: rgba(246, 246, 246, 0.3);
}
.footer-subscribe {
  width: 295px;
  height: 134px;
  margin-bottom: 60px;
}
.footer-subscribe-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #f6f6f6;
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-right: auto;
}
.footer-input {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 42px;
  font-size: 12px;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  background-color: transparent;
  padding: 0 16px;
  font-size: 14px;
  line-height: 129%;
  color: rgba(246, 246, 246, 0.6);
}
.footer-button {
  border-radius: 30px;
  padding: 12px 130px;
  width: 295px;
  height: 42px;
  background: #7e847f;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #f6f6f6;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-privacy-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 83%;
  letter-spacing: -0.02em;
  color: #f6f6f6;
  opacity: 0.9;
  margin-bottom: 10px;
}
.footer-privacy-text-second {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 83%;
  letter-spacing: -0.02em;
  text-align: right;
  color: #f6f6f6;
  opacity: 0.9;
}
