@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./quote.css');
@import url('./exercises.css');
@import url('./motivation.css');
@import url('./footer.css');
@import url('./quote-fav.css');
@import url('./exercises-fav.css');
@import url('./modal.css');
@import url('./rating.css');
@import url('./scroll-to-top.css');
@import url('./loader.css');

/* dm-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin_latin-ext-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/dm-sans-v14-latin_latin-ext-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* dm-sans-italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin_latin-ext-italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/dm-sans-v14-latin_latin-ext-italic.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* dm-sans-500 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v14-latin_latin-ext-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/dm-sans-v14-latin_latin-ext-500.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* dm-sans-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v14-latin_latin-ext-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/dm-sans-v14-latin_latin-ext-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

:root {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #1b1b1b;
  background-color: #f6f6f6;

  --black: #1b1b1b;
  --white: #f6f6f6;
  --light-grey: #e8e8e8;
  --grey: #7e847f;
  --dark-grey: #5f6560;
  --orange: #eea10c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.is-visible {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

/* izitoast fix */

.iziToast-color-blue {
  background: var(--dark-grey); 
  border-color: var(--dark-grey);
  opacity: 0.8;
}

.iziToast-close {
  background: url(./assets/sprite-fb630926.svg#close) no-repeat 50% 50%;
  stroke: var(--white);
}

.iziToast>.iziToast-body .iziToast-icon.ico-info {
  background: url(./assets/sprite-fb630926.svg#runner) no-repeat 50% 50%;
  background-size: 85%;
  fill: var(--white);
}

.iziToast-message {
  color: var(--white);
}

.iziToast-title {
  color: var(--white);
}